.cross-button {
    @include reset-button;
    @include square(48px);

    position: relative;
    border-radius: 7px;

    @include hover {
        background-color: lightcoral;
    }

    &::before,
    &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 7px;
        width: 70%;
        height: 2px;
        background-color: var(--color_blue-dark);
        border-radius: 5px;
    }

    &::before {
        rotate: 45deg;
    }

    &::after {
        rotate: -45deg;
    }
}