@mixin fluid-text($max: 48, $min: 18) {
    font-size: clamp(#{$min}px, #{$max / 1440 * 100}vw, #{$max}px);
}

/* миксин для сброса дефолтных стилей для ссылок */
@mixin reset-link {
    color: inherit;

    &,
    &:hover {
        text-decoration: none;
    }
}

/* миксин для сброса дефолтных стилей для кнопок */
@mixin reset-button {
    padding: 0;
    background-color: transparent;
    border: none;
}

/* миксин для выбора flex или inline-flex */
@mixin flex-center($isInline: false) {
    @if $isInline {
        display: inline-flex;
    } @else {
        display: flex;
    }

    justify-content: center;
    align-items: center;
}

/* миксин для выравнивания блоков absolute относительно relative */
@mixin abs-center {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

/* миксин для квадратных элементов (бургер кнопка в header) */
@mixin square($size) {
    width: $size;
    aspect-ratio: 1;
}